@page "/Index"

<PageTitle>Index</PageTitle>

<h1>RPM To Miles Calculator</h1> 

<h3>This is useful to convert the average RPM of an indoor exercise bike, and the time spent exercising into miles.</h3>

<Rpm-to-miles />
